*{
    margin: 0px;
    padding: 0px;
}

header {
    height: 100px;
    width: auto;
    text-align: center;
    background-color: blue;
    
}

h1 {
    padding-top: 40px;
    color: white;
    
}

nav {
    width: auto;
    background-color: black;
    margin-bottom: 10px;
}

a nav {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.card-consulta{
    text-align: center;
    background-color: white;
    border: 2px solid black;

    margin: auto;
    width: 80%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.card-consulta-itens{
   text-align: center;
    background-color: rgb(240, 2, 2);
    border: 2px solid black;
    width: 200px;
    height: 60px;
    margin-top: 10px;
}

.table-produtos{
    width: 80%;
    margin: auto;
    background-color: rgb(128, 95, 52);
    list-style: none;
    padding: 20px;
}
